matplotlib==3.7.0
psycopg2-binary==2.9.5
numpy==1.23.5
pandas==1.5.2
ray==2.9.0
tqdm==4.64.1
scipy==1.10.0
apyori==1.1.2
optuna==2.8.0
adjustText==0.7.3
scikit_learn==1.2.1
skranger==0.8.0
torch==1.13.1
xgboost==1.7.3
seaborn==0.12.2